<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>
<%= Url.last.short_url if Url.last != nil %>
<table>
	<% Url.all.each do |url| %>
	<tr>
		<td><%= url.short_url %></td>
	</tr>
	<% end %>
</table>
