<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>
<%if @messages !=nil%>
	<%@messages.each do |message| %>
	<%= message %>
	<% end %>
<% end %>

<table>
	<% Url.all.each do |url| %>
	<tr>
		<td><%= url.short_url %></td>
	</tr>
	<% end %>
</table>
