<html>
	<head>
	<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body class="container">
		<ul>
			<li class="header" class="red"><a href="http://localhost:9393/">bitly</a></li>
  			<li>Product Tour</li>
  			<li>Resources</li>
  			<li>Partners</li>
  			<li class="signin">Sign in</li>
  			<li class=signup>Sign up</li>
		</ul>
		<%= yield %>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/application.js"></script>